body {
    background-image: url("../img/login_background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    flex-wrap: wrap;
    height: 100vh;
}

.centerpiece {
    border: black 2px;
    border-style: solid;
    border-color: rgb(126, 93, 22);
    border-radius: 15px;
    background-color: #FFF1D7;
    padding-top:2rem;
    padding-bottom:1rem;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
}

.welcome-icons {
    border: black 1px;
    border-style: solid;
}

.back {
    border: black 2px;
    border-style: solid;
    border-color: rgb(126, 93, 22);
    border-radius: 50%;
}

.card {
    top: 8rem;
    background-color: #FFF1D7;
}

.container.home {
    background-color: #FFF1D7;
    min-height: 880px;
    background: rgba(255, 241, 215, 0.8);
}

.shop {
    border: 10px greenyellow;
    margin-top: 25px;
    height: 380px;
    width: 540px;
}