body {
    background-image: url("../img/login_background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    min-height: 100vh;
}

.container.home {
    background-color: #FFF1D7;
    min-height: 164vh;
    background: rgba(255, 241, 215, 0.8);
}

.centerpiece {
    border: black 2px;
    border-style: solid;
    border-color: rgb(126, 93, 22);
    border-radius: 15px;
    background-color: #FFF1D7;
    padding-top:2rem;
    padding-bottom:1rem;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
}

.welcome-icons {
    border: black 1px;
    border-style: solid;
}

.card {
    top: 8rem;
    background-color: #FFF1D7;
}

nav {
    background-color: rgb(255, 233, 194);
    height: 4rem;
}

.navbar-brand {
    color: black;
    font-size:1.15rem;
}

.lead {
    font-size: 1rem !important;
}

.item {
    background-color: white;
}