body {
    background-image: url("../img/login_background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    min-height: 100vh;
}

.container.home {
    background-color: #FFF1D7;
    min-height: 164vh;
    background: rgba(255, 241, 215, 0.8);
}

.centerpiece {
    border: black 2px;
    border-style: solid;
    border-color: rgb(126, 93, 22);
    border-radius: 15px;
    background-color: #FFF1D7;
    padding-top:2rem;
    padding-bottom:1rem;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
}

.welcome-icons {
    border: black 1px;
    border-style: solid;
}

.card {
    top: 8rem;
    background-color: #FFF1D7;
}

nav {
    background-color: rgb(255, 233, 194);
    height: 4rem;
}

.navbar-brand {
    color: black;
    font-size:1.15rem;
}

.logout {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: plum;
}

.lead {
    font-size: 1rem !important;
}

.item {
    background-color: white;
}

.size-active {
    border-radius: 50%;
    background-color: aquamarine;
}

.list-group-item {
    background-color: azure;
}

.my-submit {
    margin-top:.8rem;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border-color: white;
    background-color: #eeb578;
    font-weight: bolder;
    color: whitesmoke;
}

.my-submit:hover {
    margin-top:.8rem;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border-color: white;
    background-color: #e6943e;
    font-weight: bolder;
    color: whitesmoke;
}

.receipt {
    background-color: white;
    font-family: "Courier New", times, serif;
}

hr {
    border: none;
    height: 1px;
    margin-top:1rem;
    margin-bottom:0;

    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}